

.logga{
	height: 50px;
	width: 50px;
}

.titel{
	padding-top: 100px;
}
.padding{
	padding-top: 10px;
}

.box{
  border: 3px solid red;
  padding: 10px;
  height: 300px;
  width: 340px;
}



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  margin-top: 10px;
}


.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.flex-item {
  padding: 5px;
  margin: 10px;
  border: solid black;
}

canvas{
	background-color: black;
}

.btn{
	width: 200px;
	height: 70px;
}

/* Här under kan du ändra färger */

body{
	background-color: lightgrey;
}
p{
	color: #E80C94;
}
.farg{
	background-color: #E80C94;
}
